// s
@media screen and (min-width: 480px) {
	* {
		outline: 1px solid darkgreen;
	}
}

// m
@media screen and (min-width: 768px) {
	* {
		outline: 1px solid darkblue;
	}
}

// l
@media screen and (min-width: 1024px) {
	* {
		outline: 1px solid darkred;
	}
}

// xl
@media screen and (min-width: 1200px) {
	* {
		outline: 1px solid darkgoldenrod;
	}
}

// xxl
@media screen and (min-width: 1400px) {
	* {
		outline: 1px solid darkcyan;
	}
}